@import "./variables";
@import "./mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-header-cell {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.blue-button {
  background-color: $primary;
  color: white;
}

.menu-button {
  color: $distinct;
}
