<div class="flex-container">
  <mat-dialog-content>
    <h1 class="title">{{ dialogTitle }}</h1>
    <form class="user-form" [formGroup]="userForm">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required />
        <mat-error *ngIf="firstNameControl?.errors?.required">{{
          "Please enter a value"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error *ngIf="lastNameControl?.errors?.required">{{
          "Please enter a value"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="bob@test.com"
          formControlName="email"
          required
          email
        />
        <mat-error *ngIf="emailControl?.errors?.required">{{
          "Please enter a value"
        }}</mat-error>
        <mat-error *ngIf="emailControl?.errors?.email">{{
          "Not a valid email"
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <telephone-input formControlName="telephone" required></telephone-input>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button
      mat-stroked-button
      [disabled]="!userForm.valid || !telephoneControl?.value?.area"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </mat-dialog-actions>
</div>
