.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    text-align: center;
  }

  .user-form {
    display: flex;
    flex-direction: column;
  }

  .actions {
    align-self: flex-end;
  }
}
