.container {
  // display: flex;
  padding: 5%;
  // background-image: url(../../../assets/images/sky-background.jpg);

  .filter {
    width: 250px;
  }

  mat-table {
    width: 100%;

    mat-row {
      border-bottom: 0;
    }
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}
