$innerWidth: 75%;

.table-container {
  // display: flex;
  padding: 5%;

  .table-controls {
    display: flex;
    justify-content: space-between;
    width: $innerWidth;
  }

  .filter-input {
    width: 250px;
  }

  .add-user-btn-container {
    display: flex;
    align-self: center;
    height: 40px;
  }

  mat-table {
    width: $innerWidth;

    mat-row {
      border-bottom: 0;
    }

    .mat-column-email {
      flex-basis: 25%;
    }

    .mat-column-telephone {
      flex-grow: 1.5;
    }

    .mat-column-actions {
      width: 100px;
      max-width: 100px;
      justify-content: center;
    }
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .paginator {
    width: $innerWidth;
    margin-top: 10px;
  }
}

::ng-deep .delete-btn {
  color: red;
}
