<div class="container">
  <div class="table-controls">
    <mat-form-field class="filter-input">
      <input
        matInput
        type="text"
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <div class="add-user-btn-container">
      <button class="blue-button" mat-raised-button (click)="openUserDialog()">
        Add User
      </button>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="firstName">
      <mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        matSortActive
        disableClear
      >
        First Name
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Last Name
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
        Email
      </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user">
        ({{ user.telephone?.area }}) {{ user.telephone?.exchange }} -
        {{ user.telephone?.subscriber }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          #menuTrigger
          class="menu-button"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="openUserDialog(user)">
            Edit User
          </button>
          <button mat-menu-item>
            <span class="test">Delete User</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row
      sticky
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    class="paginator"
    [pageSizeOptions]="[5, 10, 25, 50]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</div>
