$innerWidth: 75%;

.container {
  // display: flex;
  padding: 5%;
  // background-image: url(../../../assets/images/sky-background.jpg);

  .filter {
    width: 250px;
  }

  mat-table {
    width: $innerWidth;

    mat-row {
      border-bottom: 0;
    }
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .paginator {
    width: $innerWidth;
    margin-top: 10px;
  }
}
